<!DOCTYPE html>
<html lang="en">

<head>
	<title>RestoZoo - Find Your Favorite Restaurant</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="title" content="RestoZoo - Find Your Favorite Restaurant">
	<meta name="description" content="Find your next favorite restaurant around you!">
	<link rel="icon" type="image/png" sizes="32x32" href="./public/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./public/icons/favicon-16x16.png">
	<link rel="shortcut icon" href="./public/icons/favicon.ico" type="image/x-icon">
</head>

<body>
	<a href="#main" class="skip-link" id="skip-to-content">Skip to content</a>

	<header>
		<rz-app-bar logo="../public/logo.svg" label="RestoZoo">
			<rz-nav-menu listCount="3" slot="right">
				<rz-nav-item slot="0" href="/">Home</rz-nav-item>
				<rz-nav-item slot="1" href="/favorites">Favorites</rz-nav-item>
				<rz-nav-item slot="2" href="https://github.com/fiqrisr" newTab>About Us</rz-nav-item>
			</rz-nav-menu>
		</rz-app-bar>
	</header>

	<main id="outlet"></main>

	<footer>
		<rz-text>Copyright &copy; 2020 - RestoZoo</rz-text>
		<rz-text>Made with <rz-icon icon="heart" size="s"></rz-icon> by Fiqri Syah Redha</rz-text>
		<rz-text>Logo made by <a href="https://www.designevo.com/logo-maker/" rel="noopener"
				title="Free Online Logo Maker">DesignEvo
				free logo creator</a></rz-text>
	</footer>
</body>

</html>
