<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<title>RestoZoo</title>
</head>

<body>
	<div class="app">
		<header>
			<rz-app-bar logo="../public/logo.png" label="RestoZoo">
				<rz-nav-menu slot="right">
					<rz-nav-item href="#">Home</rz-nav-item>
					<rz-nav-item href="#">Favorites</rz-nav-item>
					<rz-nav-item href="https://github.com/fiqrisr"" openInNewTab>About</rz-nav-item>
				</rz-nav-menu>
			</rz-app-bar>
		</header>
	</div>
	<rz-icon icon="menu" size='m' button></rz-icon>
	
</body>

</html>
