<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<title>RestoZoo</title>
</head>

<body>
	<header>
		<rz-app-bar logo="../public/logo.png" label="RestoZoo">
			<rz-nav-menu slot="right">
				<rz-nav-item href="#">Home</rz-nav-item>
				<rz-nav-item href="#">Favorites</rz-nav-item>
				<rz-nav-item href="https://github.com/fiqrisr" openInNewTab>About Us</rz-nav-item>
			</rz-nav-menu>
		</rz-app-bar>

		<rz-hero-image image="../public/images/heros/hero-image.jpg">
			<h1 slot="title">Find Your Favorite Restaurant</h1>
			<p slot="tagline">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, quaerat?</p>
			<div style="margin-top: 40px;">
				<rz-button label="Let's Eat!" isLink href="#main"></rz-button>
			</div>
		</rz-hero-image>
	</header>

	<main id="main">
		<section class="container restaurant-list">
			<rz-text size="big-1">Explore Restaurant</rz-text>
			<rz-restaurant-list></rz-restaurant-list>
		</section>
	</main>
</body>

</html>
