:host {
	color: var(--text-1);
	font-family: 'fontello';
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: grayscale;
	min-height: max-content;
	min-width: max-content;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
}

:host([button]) {
	cursor: pointer;
	opacity: 0.6;
}

:host([disabled]) {
	opacity: 0.2;
	pointer-events: none;
}

/* size */
:host([size='xl']) {
	font-size: 48px;
	height: 48px;
	width: 48px;
}

:host([size='l']) {
	font-size: 32px;
	height: 32px;
	width: 32px;
}

:host([size='m']) {
	font-size: 24px;
	height: 24px;
	width: 24px;
}

:host([size='s']) {
	font-size: 14px;
	height: 14px;
	width: 14px;
}

/* hover inputs */
@media (hover: hover) {
	:host([button]:hover:not(:active)) {
		opacity: 0.9;
	}
}

:host([icon='star'])::before {
	content: '\\2605';
}

:host([icon='star-empty'])::before {
	content: '\\2606';
}

:host([icon='star-half'])::before {
	content: '\\e701';
}

:host([icon='star-half-alt'])::before {
	content: '\\f123';
}

:host([icon='heart'])::before {
	content: '\\2665';
}

:host([icon='heart-empty'])::before {
	content: '\\2661';
}

:host([icon='location'])::before {
	content: '\\e805';
}

:host([icon='food'])::before {
	content: '\\e815';
}

:host([icon='beer'])::before {
	content: '\\e806';
}
