:host {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 50px;
	color: var(--neutral-2);
	max-width: 80%;
	padding: 25px;
	position: absolute;
}

h1 {
	line-height: normal;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}
