.hero-container {
	height: 500px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.hero-image {
	height: 100%;
	object-fit: cover;
	position: absolute;
	width: 100%;
	z-index: -10;
}

.hero-text {
	color: var(--neutral-2);
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	z-index: 99;
}

.overlay {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -7;
}

/* stylelint-disable selector-no-qualifying-type */
slot[name='title'] {
	font-size: 2.4rem;
	letter-spacing: 0.2rem;
	line-height: 5rem;
}

slot[name='tagline'] {
	font-size: 2rem;
	line-height: 2.4rem;
}

slot[name='full'] {
	position: relative;
}
