:host {
	display: grid;
	gap: 40px;
	grid-template-columns: 1fr;
	margin-top: 50px;
	width: 100%;
}

@media (min-width: 768px) {
	:host {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	:host {
		gap: 60px 40px;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1500px) {
	:host {
		grid-template-columns: repeat(4, 1fr);
	}
}
