*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	// Define 1 rem
	font-size: 62.5%; // 1 rem = 10px; 10px/16px == 62.5%
}

body {
	box-sizing: border-box;
	font: $font-body-1;
	overflow: hidden;
}
