:host {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 1rem;
}

button {
	background: none;
	border: unset;
	color: inherit;
	cursor: pointer;
	font: inherit;
	padding: 0;
}

ul {
	background-color: var(--neutral-2);
	box-shadow: var(--shadow-1);
	display: flex;
	flex-direction: column;
	height: 100vh;
	left: -260px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	position: fixed;
	top: 75px;
	transition: all 0.5s ease-in;
	width: 250px;
	z-index: 50;
}

.opened {
	left: 0;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 75px;
	width: 100vw;
	z-index: 30;
}
