:host {
	align-items: center;
	display: flex;
	justify-content: center;
}

.hamburger {
	background-color: transparent;
	border: 0;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 0;
	overflow: visible;
	padding: 15px;
	text-transform: none;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
	transition-timing-function: linear;
}

.hamburger:hover {
	opacity: 0.7;
}

.hamburger.active:hover {
	opacity: 0.7;
}

.hamburger.active .hamburger-inner,
.hamburger.active .hamburger-inner::before,
.hamburger.active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	display: inline-block;
	height: 24px;
	position: relative;
	width: 40px;
}

.hamburger-inner {
	display: block;
	margin-top: -2px;
	top: 50%;
	transition-duration: 0.22s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	background-color: var(--neutral-1);
	border-radius: 4px;
	height: 4px;
	position: absolute;
	transition-duration: 0.15s;
	transition-property: transform;
	transition-timing-function: ease;
	width: 40px;
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}

.hamburger-inner::before {
	top: -10px;
	transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger-inner::after {
	bottom: -10px;
	transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.active .hamburger-inner {
	transform: rotate(225deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active .hamburger-inner::before {
	opacity: 0;
	top: 0;
	transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

ul {
	background-color: var(--neutral-2);
	box-shadow: 0 30px 38px rgba(0, 0, 0, 0.3), 0 30px 12px rgba(0, 0, 0, 0.22);
	display: flex;
	flex-direction: column;
	height: 100%;
	left: -260px;
	list-style: none;
	margin: 0;
	padding: 1.6rem;
	position: fixed;
	top: 70px;
	transition: all 0.5s ease-in;
	visibility: hidden;
	width: 250px;
	z-index: 50;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 70px;
	width: 100vw;
	z-index: 30;
}

.opened {
	left: 0;
	visibility: visible;
}

.opened + .overlay {
	display: block;
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	ul {
		background: none;
		box-shadow: none;
		display: flex;
		flex-direction: row;
		height: auto;
		padding: 0;
		position: static;
		visibility: visible;
		width: auto;
	}
}
