:host {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 1rem;
}

button {
	background: none;
	border: unset;
	color: inherit;
	cursor: pointer;
	font: inherit;
	padding: 0;
}

ul {
	background-color: var(--neutral-2);
	box-shadow: 0 30px 38px rgba(0, 0, 0, 0.3), 0 30px 12px rgba(0, 0, 0, 0.22);
	display: flex;
	flex-direction: column;
	height: 100vh;
	left: -260px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	position: fixed;
	top: 75px;
	transition: all 0.5s ease-in;
	width: 250px;
	z-index: 50;
}

.opened {
	left: 0;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 75px;
	width: 100vw;
	z-index: 30;
}

@media (min-width: 768px) {
	:host {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0 1rem;
	}

	button {
		display: none;
	}

	ul {
		background: none;
		box-shadow: none;
		display: flex;
		flex-direction: row;
		height: auto;
		list-style: none;
		padding: 0;
		position: static;
		width: auto;
	}
}
